<h2>Complete record of Employee </h2>
<hr />
<div *ngIf="activeBanker">
  <!-- </div>
<div *ngIf="this.employee"> -->
  <div>
    <label><b>Man No. : </b></label> {{activeBanker.id}}
  </div>
  <div>
    <label><b>Names : </b></label> {{activeBanker.name}}
  </div>
  <div>
    <label><b>Dept : </b></label> {{activeBanker.dept}}
  </div>
  <div>
    <label><b>Post : </b></label> {{activeBanker.post}}
  </div>
  <div>
    <label><b>Salary : </b></label> {{activeBanker.salary}}
  </div>

  <div>
    <label><b>Creation Date : </b></label> {{activeBanker.createdat}}
  </div>

  <div>
    <label><b>Updation Date : </b></label> {{activeBanker.updatedat}}
  </div>
</div>

<hr />
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>

<!-- 
<div *ngIf="activeBanker" class="edit-form">
   <h4> ZANACO - BANKER</h4> 
  <form>
    <div class="form-group"> <label for="name1">Name</label>
      <input type="label" class="form-control" id="name1" [(ngModel)]="activeBanker.name" name="name1" />
    </div>
    <div class="form-group">
      <label for="dept">Department</label> <input type="text" class="form-control" id="dept"
        [(ngModel)]="activeBanker.dept" name="dept" />
    </div>
    <div class="form-group"> <label for="post">addres</label>
      <input type="text" class="form-control" id="post" [(ngModel)]="activeBanker.post" name="post" />
    </div>
    <div class="form-group">
      <label for="description">salary</label> <input type="text" class="form-control" id="salary"
        [(ngModel)]="activeBanker.salary" name="salary" />
    </div> -->